.DS_Store
*.class
*.war
.apt_generated/
war/WEB-INF/classes/
war/WEB-INF/deploy/
war/WEB-INF/lib/
/.metadata/
/RemoteSystemsTempFiles/
*/bin
/build/
/*/build/*/
*/.gitignore
/www-test/
.classpath
.settings
.gwt
war